<% prefix = prefix %>
<% pictures.in_groups_of(3) do |group| %>
  <div class="row">
    <% group.compact.each do |picture| %>
      <div class="col-md-4  text-truncate">
        <% if picture.picture.attached? %>
          <%= image_tag picture.picture.variant(resize_to_fill: [300, 300]), class: "img-fluid" %>
        <% else %>
          <%= image_tag '/no_image_thumb.jpg', class: "img-fluid" %>
        <% end %>
        <h4><%= link_to picture.title, picture %></h4>
        <% if logged_in? %>
          <div class="mb-2">
            <%= render 'favorites/favorite_button', picture: picture, prefix: prefix %>
          </div>
        <% end %>
        <% if current_user&.admin? %>
          <%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-outline-danger mb-3" %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
