
<div class="row">
  <div class="col-md-8">
    <h1><%= @picture.title %></h1>
    <% if @picture.picture.attached? %>
      <%= image_tag @picture.picture.variant(resize_to_limit: [800, 800]), class: "img-fluid" %>
    <% else %>
      <%= image_tag '/no_image.jpg', class: "img-fluid" %>
    <% end %>
    <h3>Description</h3>
    <%= simple_format(@picture.description) %>
    <div>
      <% if @picture.user == current_user %>
        <%= link_to 'Edit', edit_picture_path(@picture), class: "btn btn-warning" %>
        <%= link_to 'Destroy', @picture, data: { confirm: 'Are you sure?' }, method: :delete, class: "btn btn-danger" %>
      <% end %>
      <%= link_to 'Back', root_url, class: "btn btn-primary" %>
      <%= link_to '投稿者ページ', @picture.user, class: "btn btn-success" %>
    </div>
  </div>

  <div class="col-md-4">
    <table class="table table-borderd">
      <tr>
        <th>place</th>
        <td><%= @place %></td>
      </tr>
      <tr>
        <th>Latitude</th>
        <td><%= @latitude %></td>
      </tr>
      <tr>
        <th>Longitude</th>
        <td><%= @longitude %></td>
      </tr>
      <tr>
        <td colspan="2"><div id="map" style="width: 100%; height: 300px;"></div></td>
      </tr>
      <tr>
        <th colspan="2">お天気情報</div></th>
      </tr>
      <tr>
        <td colspan="2"><%= simple_format(@weather&.dig(:text)) %></td>
      </tr>
    </table>
  </div>
</div>

<script>
    var map = L.map('map').setView([<%= @latitude %>, <%= @longitude %>], 8);
    L.tileLayer('https://mt1.google.com/vt/lyrs=r&x={x}&y={y}&z={z}', {
        maxZoom: 18,
        attribution: "<a href='https://developers.google.com/maps/documentation' target='_blank'>Google Map</a>"
    }).addTo(map);
    L.marker([<%= @latitude %>, <%= @longitude %>]).addTo(map);
</script>

<%= debug @agiinfo if Rails.env.development? %>
<%= debug @weather if Rails.env.development? %>