<h1>詳細画面</h1>

<div class="row">
  <div class="col-md-9">
    <% if @picture.picture.attached? %>
      <%= image_tag @picture.picture.variant(resize_to_limit: [800, 800]), class: "img-fluid" %>
    <% else %>
      <%= image_tag '/no_image.jpg', class: "img-fluid" %>
    <% end %>
  </div>

  <div class="col-md-3">
    <p><b>Title: </b><%= @picture.title %></p>
    <p><b>Description: </b><%= @picture.description %></p>
    <p><b>Latitude: </b><%= @picture.picture.metadata[:latitude] if @picture.picture.attached? %></p>
    <p><b>Longitude: </b><%= @picture.picture.metadata[:longitude] if @picture.picture.attached? %></p>
    <p>
      <%= link_to 'Edit', edit_picture_path(@picture) %> |
      <%= link_to 'Destroy', @picture, data: { confirm: 'Are you sure?' }, method: :delete %> |
      <%= link_to 'Back', root_url %>
    </p>
  </div>
</div>